@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

.container-large {
  position: relative;
  z-index: 10;
  display: block;
  width: 1120px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: auto;
  margin-left: auto;
}

.blog-top {
  padding: 250px 0 100px;
  min-height: 800px;
  background-image: url('../img/background-blog.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.blog-content {
  padding: 150px 0 70px;
}

.blog-title {
  position: relative;
  font-weight: 800;
  font-family: 'Mulish', sans-serif;
  padding-top: 30px;
  color: #0a172b !important;
  font-size: 50px;
  line-height: 60px;
  font-style: italic;
  z-index: 0;

  .romb {
    position: absolute;
    top: 0;
    left: -15px;
    z-index: -1;
    width: 52px;
    height: 60px;
    background: url('../img/rombbus.svg') no-repeat top left;
    background-size: cover;
  }
}

.blog-descr {
  font-family: 'Mulish', sans-serif;
  margin-top: 15px;
  color: #0d1337;
  font-size: 17px;
  font-weight: 400;
}

.blog-content {
  background: #f9f9fa;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;

  .search-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -210px;
    background: #fff;
    border-radius: 15px;
    width: 100%;
    font-family: "Archivo", sans-serif;
    padding: 40px;
    box-shadow: 0 14px 45px 16px rgba(32,59,79,.15);
  }

  .post-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .post-info {
      padding-left: 0;
    }

    .post-block {
      width: 50%;
      padding: 0 15px;

      .post-content {
        display: block;
        overflow: hidden;
        width: 100%;
        min-height: 200px;
        border-radius: 15px;
        background: white;
        box-shadow: 0 34px 45px -14px rgba(32,59,79,.15);
        margin-bottom: 30px;
        transition: all 0.3s ease;

        &:hover {
          text-decoration: none;

          .post-title {
            color: #ff7a00;
          }
        }

        .post-image {
          img {
            width: 100%;
            height: 300px;
            object-fit: cover;
          }
        }

        .post-title {
          padding: 15px;
          font-family: 'Mulish', sans-serif;
          font-size: 22px;
          color: #2a374c;
          font-weight: 800;
          transition: all 0.3s ease;
        }

        .post-descr {
          color: #2a374c;
          font-size: 16px;
          padding: 15px 15px 30px;
        }
      }
    }
  }
}

.post-info {
  padding: 0 15px;

  .post-author-img {
    display: inline-block;
    max-width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .post-author-title {
    display: inline-block;
    vertical-align: top;
    color: #838daa;
    padding-left: 15px;
    font-family: 'Milish', sans-serif;

    .author-name {
      display: block;
      font-weight: 500;
    }

    .post-tag {
      margin-top: 5px;
      font-size: 16px;
      background: #f3f3f3;
      padding: 3px 7px;
      display: inline-block;
      border-radius: 4px;
    }
  }
}


.form-group {
  position: relative;
  display: flex;
  min-width: 33%;
  height: 46px;
  max-height: 46px;
  padding-left: 12px;
  align-items: center;
  transition: all .2s ease;
  cursor: pointer;
  border-radius: 4px;
  background-color: #eeeff4;

  i {
    color: #838daa;
  }

  input {
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    padding-right: 15px;
    padding-left: 35px;
  }
}

.search-field {
  min-width: 65%;
}

.search-list {
  display: none;
  position: absolute;
  top: 50px;
  background: #eeeff4;
  border-radius: 4px;
  left: 0;
  width: 100%;
  box-shadow: 0 14px 45px 16px rgba(32,59,79,.15);

  .search-item {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    transition: all .2s ease;
    color: #342f29;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: #ff7a00;
    }

    a {
      color: #342f29;
    }

    .count {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 50%;
      font-size: 14px;
      float: right;
    }
  }
}

.open-category-list {
  display: block;
}


// Single Post
.post-single-top {
  padding: 200px 0 100px;
  min-height: 600px;
  background-image: url('../img/background-post.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.post-container {
  .post-content {
    margin-top: 30px;
  }
}

.bottom-navigation {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bottom-nav-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottom-post-link {
  width: 170px;
  text-align: center;
  padding: 7px 25px;
  border-radius: 4px;
  color: #ff7a00;
  border: 1px solid #ff7a00;
  transition: all 0.2s ease;

  .fa-angle-left {
    padding-right: 5px;
  }

  .fa-angle-right {
    padding-left: 5px;
  }

  &:hover {
    text-decoration: none;
    color: white;
    background-color: #ff7a00;;
  }
}


.dropdown-search {
  width: 100%;
  padding-right: 15px;

  .fa {
    float: right;
    padding-top: 4px;
    font-weight: 800;
    color: inherit;
  }
}
