<header class="new-blog-nav">
  <div class="left-block">
    <a href="https://gera-it.com" class="brand"></a>
  </div>
  <div class="right-block">
    <div class="dropdown">
      <div class="dropdown-toggle hvr-underline-from-left">
        <div class="dropdown-title">
          Services
        </div>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </div>
      <div class="dropdown-list services-list">
        <a class="dropdown-item hvr-underline-from-left" href="https://www.gera-it.com/discovery-phase">Discovery Phase</a>
        <a class="dropdown-item hvr-underline-from-left" href="https://www.gera-it.com/for-startups">For Startups</a>
        <a class="dropdown-item hvr-underline-from-left" href="https://www.gera-it.com/web-development">Web development</a>
        <a class="dropdown-item hvr-underline-from-left" href="https://www.gera-it.com/mobile-development">Mobile development</a>
        <a class="dropdown-item hvr-underline-from-left" href="https://www.gera-it.com/ux-ui-design">UX/UI Design</a>
      </div>
    </div>
    <div class="dropdown">
      <div class="dropdown-toggle hvr-underline-from-left">
        <div class="dropdown-title">
          Company
        </div>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </div>
      <div class="dropdown-list company-list">
        <a class="dropdown-item hvr-underline-from-left" href="https://www.gera-it.com/our-team">Our Team</a>
        <a class="dropdown-item hvr-underline-from-left" href="https://www.gera-it.com/testimonials">Testimonials</a>
      </div>
    </div>
    <div class="dropdown">
      <div class="dropdown-toggle hvr-underline-from-left">
        <div class="dropdown-title">
          Technologies
        </div>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </div>
      <div class="dropdown-list technologies-list">
        <a class="dropdown-item hvr-underline-from-left" href="https://www.gera-it.com/ruby">Ruby</a>
        <a class="dropdown-item hvr-underline-from-left" href="https://www.gera-it.com/javascript">JavaScript</a>
      </div>
    </div>
    <a class="nav-item hvr-underline-from-left" href="https://www.gera-it.com/projects">Projects</a>
    <a class="nav-item hvr-underline-from-left" href="https://www.gera-it.com/careers">Careers</a>
    <a class="nav-item hire-us-btn hvr-underline-from-left" href="https://www.gera-it.com/contacts">
      <span>Hire Us</span>
    </a>
  </div>
</header>
